/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


.pm-formulario{
    
}
#DatosBasicos{
    border: 2px solid grey;
    padding: 1px 2px 3px 20px;
    margin: 1px 2px 15px 4px;
    width: 500px;
    height: 300px;
   
}
#DatosEconomicos{
    border: 2px solid grey;
    display: flex;
    padding: 1px 2px 3px 20px;
    margin: 1px 2px 15px 4px;
    width: 500px; /* Establece el ancho del div */
    height: 200px; /* Establece la altura del div, igual al ancho */
}

#DB{
    padding: 1px 2px 3px 20px;
    margin: 1px 2px 15px 4px;
}
#Impue{
    padding: 50px 2px 3px 20px;
    margin: 1px 2px 15px 4px;
    
}